
<div class="container background">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="my-name">Teddy Coleman</h1>
			<h2 class="subtitle">Web Developer</h2>
		</div>
	</div>
</div>