/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
	font-family: 'Lato', sans-serif;
}

.black-border{
	border: 1px solid black;
}

.circular-image{
	border-radius: 50%;
	overflow: hidden;
}

.home{
	display: block;
	height: 100vh;
  width: 100vw !important;
  background: url("SF.jpg") no-repeat top center fixed;
  background-size: cover;
  margin: 0 0 0 0 !important;
  padding: 0;
}

i {
  margin-right: 10px;
  color: black !important;
}

.icon {
	height: 24px;
	width: 28px;
	display: inline-block !important;
	top: -5px;
	position: relative;
}

li{
	list-style: none;
	text-align: left;
}

.my-name{
	font-size: 96px;
	top: 20vh;
	position: relative;
	color: white;
}

.navbar-default {
	background-color: rgba(0,0,0,0) !important;
	border: none !important;
}

.navbar-brand, .navbar-right{
	color: white !important;
}

p {
	font-size: 16px;
}

.past-home{
	background-color: rgb(113,126,255) !important;
}

.portfolio{
	position: relative;
	display: block;
}

.project-header{
	margin-top: 0;
	font-size: 32px;
}

.section-header{
	font-size: 56px;
}

.shift-left{
	padding-left: 45px !important;
}

.subtitle{
	font-size: 24px;
	top: 25vh;
	position: relative;
	color: white;
}

.technologies-header{
	font-size: 24px;
}

.top-link{
	color: white !important;
}
