/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

*{
	font-family: 'Open Sans', sans-serif;
}

.black-border{
	border: 1px solid black;
}

.contact{
	/*background-color: #F7CB21;*/
}

.home{
	display: block;
	height: 100vh;
  width: 100vw !important;
/*  background: url("background.jpg") no-repeat top center fixed;
  background-size: cover;
  margin: 0 0 0 0 !important;
  padding: 0;*/
}

i {
  margin-right: 10px;
}

li{
	list-style: none;
	text-align: left;
}

.my-name{
	font-family: 'Aref Ruqaa', serif;
	font-size: 96px;
	top: 20vh;
	position: relative;
}

.navbar-brand{
	font-family: 'Aref Ruqaa', serif;
}

.navbar-default {
	background-color: #717EFF !important;
}

.navbar-brand, .navbar-right{
	color: white !important;
}

.portfolio{
	position: relative;
	display: block;
	/*background-color: #98EFC7;*/
}

.project-header{
	margin-top: 0;
	font-size: 32px;
}

.section-header{
	font-size: 56px;
	font-family: 'Aref Ruqaa', serif;
}

.subtitle{
	font-size: 24px;
	top: 25vh;
	position: relative;
	font-family: 'Aref Ruqaa', serif;
}

.technologies-header{
	font-size: 24px;
}

.top-link{
	color: white !important;
}
