/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background{
  background: url("background.jpg") no-repeat top center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw !important;
  margin: 0 0 0 0 !important;
  padding: 0;
}

.my-name{
	font-size: 12vh;
	top: 20vh;
	position: relative;
}

.subtitle{
	font-size: 6vh;
	top: 25vh;
	position: relative;
}

